<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terra</key>
	<dict>
		<key>Items</key>
		<array>
			<string>Oak_Tree</string>
			<string>Pine_Tree</string>
			<string>Stone_Resource</string>
		</array>
		<key>Species</key>
		<array>
			<string>human</string>
		</array>
	</dict>
	<key>Jungle</key>
	<dict>
		<key>Items</key>
		<array>
			<string>Alien_Spiral_Plant</string>
			<string>Mossy_Stone_Bricks</string>
			<string>Stone_Resource</string>
		</array>
		<key>Species</key>
		<array>
			<string>argonian</string>
		</array>
	</dict>
	<key>Glacier</key>
	<dict>
		<key>Items</key>
		<array>
			<string>Snow_Tree</string>
			<string>Snowman</string>
		</array>
		<key>Species</key>
		<array>
			<string>human</string>
			<string>argonian</string>
		</array>
	</dict>
	<key>Magma</key>
	<dict>
		<key>Items</key>
		<array>
			<string>Damaged_Stone_Bricks</string>
			<string>Dead_Tree</string>
			<string>Stone_Bricks</string>
		</array>
		<key>Species</key>
		<array>
			<string>human</string>
			<string>argonian</string>
		</array>
	</dict>
	<key>Desert</key>
	<dict>
		<key>Items</key>
		<array>
			<string>Cactus</string>
			<string>Dead_Tree</string>
			<string>Fire_Pit</string>
			<string>Palm_Tree</string>
			<string>Stone_Resource</string>
		</array>
		<key>Species</key>
		<array>
			<string>human</string>
			<string>argonian</string>
		</array>
	</dict>
	<key>Starship</key>
	<dict>
		<key>Items</key>
		<array>
			<string>Wood_Resource</string>
			<string>Leather_Resource</string>
		</array>
		<key>Species</key>
		<array>
			<string>human</string>
			<string>argonian</string>
		</array>
	</dict>
	<key>Asteroid</key>
	<dict>
		<key>Items</key>
		<array>
			<string>Stone_Resource</string>
		</array>
		<key>Species</key>
		<array>
			<string>human</string>
			<string>argonian</string>
		</array>
	</dict>
</dict>
</plist>
