<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terra</key>
	<dict>
		<key>Items</key>
		<array>
			<string>Fruit_Tree</string>
			<string>Large_Rock</string>
			<string>Pine_Tree</string>
		</array>
		<key>Species</key>
		<array>
			<string>human</string>
		</array>
	</dict>
	<key>Jungle</key>
	<dict>
		<key>Items</key>
		<array>
			<string>Bulberry_Plant</string>
			<string>Mossy_Rock</string>
			<string>Twirlycrop_Plant</string>
		</array>
		<key>Species</key>
		<array>
			<string>argonian</string>
		</array>
	</dict>
	<key>Glacier</key>
	<dict>
		<key>Items</key>
		<array>
			<string>Snowy_Rock</string>
			<string>Snowy_Tree</string>
		</array>
		<key>Species</key>
		<array>
			<string>human</string>
			<string>argonian</string>
		</array>
	</dict>
	<key>Magma</key>
	<dict>
		<key>Items</key>
		<array>
			<string>Dead_Tree</string>
			<string>Ember_Crystal</string>
			<string>Magma_Rock</string>
		</array>
		<key>Species</key>
		<array>
			<string>human</string>
			<string>argonian</string>
		</array>
	</dict>
	<key>Desert</key>
	<dict>
		<key>Items</key>
		<array>
			<string>Splinterthorn_Plant</string>
			<string>Buried_Chest</string>
		</array>
		<key>Species</key>
		<array>
			<string>human</string>
			<string>argonian</string>
		</array>
	</dict>
	<key>Asteroid</key>
	<dict>
		<key>Items</key>
		<array>
			<string>Crater_Rock</string>
			<string>Dead_Tree</string>
		</array>
		<key>Species</key>
		<array>
			<string>human</string>
			<string>argonian</string>
		</array>
	</dict>
	<key>Starship</key>
	<dict>
		<key>Items</key>
		<array>
			<string>Fire_Pit</string>
			<string>Ember_Crystal</string>
		</array>
		<key>Species</key>
		<array>
			<string>human</string>
			<string>argonian</string>
		</array>
	</dict>
</dict>
</plist>
