<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Environmental</key>
	<array>
		<string>Another day on this beautiful world</string>
		<string>Look at this place, isn&apos;t it great!</string>
		<string>I like this planet, let&apos;s settle here...</string>
		<string>It&apos;s so calm here!</string>
		<string>What a wonderful world!</string>
	</array>
	<key>Complaints</key>
	<array>
		<string>Argh! Another sleepless night!</string>
		<string>If only we had something to eat!</string>
		<string>I&apos;m hungry...</string>
		<string>Couldn&apos;t we have settled elsewhere?</string>
		<string>This place is the worst!</string>
	</array>
</dict>
</plist>
