<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>stoneBricks</string>
		<string>YES</string>
	</array>
	<array>
		<string>stoneBricksDamaged</string>
		<string>NO</string>
	</array>
	<array>
		<string>stoneBricksMossy</string>
		<string>YES</string>
	</array>
	<array>
		<string>leatherTent</string>
		<string>NO</string>
	</array>
</array>
</plist>
