<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Grass</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>firePit</string>
			<key>stackable</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>wishingWell</string>
			<key>stackable</key>
			<string>NO</string>
		</dict>
	</array>
	<key>Jungle</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>stoneBricksMossy</string>
			<key>stackable</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>woodenLogs</string>
			<key>stackable</key>
			<string>NO</string>
		</dict>
	</array>
	<key>Magma</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>stoneBricks</string>
			<key>stackable</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>stoneBricksDamaged</string>
			<key>stackable</key>
			<string>NO</string>
		</dict>
	</array>
	<key>Ice</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>snowman</string>
			<key>stackable</key>
			<string>NO</string>
		</dict>
	</array>
	<key>Steel</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>steelCrate</string>
			<key>stackable</key>
			<string>NO</string>
		</dict>
	</array>
	<key>Sand</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>firePit</string>
			<key>stackable</key>
			<string>NO</string>
		</dict>
	</array>
</dict>
</plist>
