<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>human</key>
	<dict>
		<key>Female</key>
		<array>
			<string>Gwen</string>
			<string>Kate</string>
			<string>Becca</string>
			<string>Kayla</string>
			<string>Hannah</string>
			<string>Abigail</string>
			<string>Emma</string>
		</array>
		<key>Male</key>
		<array>
			<string>Mike</string>
			<string>Quin</string>
			<string>Mer</string>
			<string>Cam</string>
			<string>Zane</string>
			<string>Ty</string>
			<string>Eli</string>
		</array>
	</dict>
	<key>argonian</key>
	<dict>
		<key>Female</key>
		<array>
			<string>Ara</string>
			<string>Kye</string>
			<string>Sari</string>
			<string>Jema</string>
			<string>Ola</string>
			<string>Sola</string>
			<string>Ilza</string>
		</array>
		<key>Male</key>
		<array>
			<string>Ohm</string>
			<string>Khor</string>
			<string>Tal</string>
			<string>Nohs</string>
			<string>Choe</string>
			<string>Cal</string>
			<string>Grahz</string>
		</array>
	</dict>
	<key>cybernaut</key>
	<dict>
		<key>Female</key>
		<array>
			<string>F-256</string>
			<string>F-529</string>
			<string>F-759</string>
			<string>F-251</string>
			<string>F-759</string>
			<string>F-420</string>
			<string>F-062</string>
		</array>
		<key>Male</key>
		<array>
			<string>M-351</string>
			<string>M-128</string>
			<string>M-478</string>
			<string>M-017</string>
			<string>M-628</string>
			<string>M-592</string>
			<string>M-661</string>
		</array>
	</dict>
</dict>
</plist>
