<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>argonianCitizenFemale</string>
	<string>argonianCitizenMale</string>
	<string>argonianInmateFemale</string>
	<string>argonianInmateMale</string>
	<string>argonianRulerMale</string>
	<string>humanCitizenFemale</string>
	<string>humanCitizenMale</string>
	<string>humanInmateFemale</string>
	<string>humanInmateMale</string>
	<string>venusianCitizenFemale</string>
	<string>venusianCitizenMale</string>
	<string>venusianInmateFemale</string>
	<string>venusianInmateMale</string>
</array>
</plist>
